*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  

body {
  font-family: 'Raleway', sans-serif;
}

.marginSides{
  margin: 0 20px;
}



a {
  text-decoration: none;
  color: black;
}



li {
  list-style: none;
}


.backgroundGrid {
  background-color: #F2F2F2;
  border-radius: 20px;
}


.backgroundBlank {
  background-color: white;
  border-radius: 20px;
}



.header {
  margin: 10px 30px 20px 30px;
  padding: 0px 20px;
}


/* NAVBAR  */
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}


nav {
  flex: 1;
  text-align: right;
}


nav ul{
  display: inline-block;
  list-style-type:lower-roman;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

nav a {
  text-decoration: none;
  color: black;
}

   
nav a:hover {
  color: #0065FC;
}

nav a::before {
  content: '';
  display: block;
  height: 3px;
  background-color:#0065FC;
  position: absolute;
  bottom: 60px;
  width: 0%;
  transition: all case-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}


.row {
  padding-left: 20px;
  font-weight: bold;
}

.row p {
  padding: 5px 0;
  font-weight: 300;
}


/* searchBar */
.topnav {
  overflow: hidden;
  display: flex;
  margin-top: 10px;;
}
  
.topnav input[type=text] {
  padding: 10px;
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
  border: none;
}

.topnav .label-container {
  padding: 8px 10px;
  margin-top: 15px;
  background-color: #F2F2F2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
  
.topnav .search-container button {
  float: right;
  padding: 10px 15px;
  margin-top: 15px;
  margin-right: 16px;
  background: #0065FC;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
  
.topnav .search-container button:hover {
  background: #DEEBFF;
  color: black;
}

  
/* FILTERS */
.sectionFiltres {
  display: flex;
  margin-top: 20px;
}


.sectionFiltres div {
  display: flex;
}


.filtres{
  display: flex;
  padding: 0 15px;
  align-items: center;
  height: 40px;
  font-weight: bold;
  border-radius: 25px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 20px 10px;
}


.filtres p {
  padding: 10px;
}

.filtres:hover {
  color: #0065fc;
}


.iconFiltres {
  background-color: #DEEBFF;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 20px;
  color: #0065fc;
  margin-left: -17px;
}


.sectionFiltres h4 {
  line-height: 5;
  font-weight: bold;
  margin-right: 15px;
}


 /* paragraph under filter */
.parag {
  display: flex;
  margin: 20px 0px;
}

.parag label {
  padding-right: 10px;
  color: #0065FC;
}


/* Accomodations */
.mainPopularAcc{
  display: flex;
  flex-direction: row;
}


#accomodations{
  margin-top: 20px;
  width: 70%;
  margin-right: 20px;
}

h2.accomodationTitle { 
  padding: 10px 30px;
}

.captionOfAcc {
  padding: 20px 0 0 4%;
  font-weight: 400;
}

.mainContentOfAcc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contentAcc {
	margin: 10px 10px;
	width: 28%;
	box-shadow: 5px 5px 5px #d1d1d1;
	display: flex;
	flex-direction: column;
}


.contentAcc:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.frameworkAcc {
  margin: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}


.contentAcc figure {
  display: contents;
}


.contentAcc a {
  padding: 5px;
}

.captionOfAcc ul {
  color: #0065FC;
}

.checked {
  color:#d1d1d1
}


.imageAcc {
  width: 100%;
  height: 130px;
  object-fit: cover;
}


.captionOfAcc {
  padding: 5px 15px;
  line-height: 1.5;
  color: black;
}


p.captionOfAcc {
  margin: 0;
  font-size: 15px;
}


.captionOfAcc ul {
  display: flex;
  list-style: none;
  padding: 5px;
  margin: 0;
}

.more {
  margin: 40px;
  font-weight: bold;
  font-size: 15px;
}


/* POPULAR */
#popular {
  margin-top: 20px;
  width: 450px;
}

.popularTitle {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 10px 40px;
}

.popularTitle i {
  padding-top: 30px;
}

.mainContentPopular {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.contentPopular {
  margin: 20px;
  height: 150px;
  width: 370px;
  display: flex;
  box-shadow: 5px 5px 5px #d1d1d1;
}


.contentPopular:hover{
  transform: scale(1.05);
  transition: 0.3s;
}


.contentPopular figure {
  margin: 0;
  display: flex;
  text-align: left;
}



.contentPopular b {
  font-size: 17px;

}


.frameworkPopular {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 5px 10px 5px 5px;
  width: 50%;
  display: flex;
}


.imgPopular {
  width: 95px;
  height: 100%;
  margin: 3px;
  padding-bottom: 5px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.captionPopular {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.captionPopular p {
  font-size: 15px;
  width: 200px;
}


.captionPopular ul {
  display: flex;
  padding: 0;
  color: #0065FC;
}

/* ACTIVITES  */

#activites {
  padding-top: 30px;
}

h2 {
  margin: 30px 0;
  font-size: 23px;
}

.mainContentActivity {
  display: flex;
}

.secondActivityBlock,
.fourthActivityBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.firstActivityBlock,
.thirdActivityBlock,
.contentSmall1,
.contentSmall2,
.contentSmall3,
.contentSmall4 {
  box-shadow: 0px 0px 20px lightgrey;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px 0;
}


.firstActivityBlock:hover,
.thirdActivityBlock:hover,
.contentSmall1:hover,
.contentSmall2:hover,
.contentSmall3:hover,
.contentSmall4:hover {
  transform: scale(1.05);
  transition: 0.3s;
}


.firstActivityBlock,
.secondActivityBlock,
.thirdActivityBlock {
  margin-right: 20px;
}

.contentSmall1 {
  height: 60%;
}


.contentSmall2 {
  height: 30%;
}


.contentSmall3,
.contentSmall4 {
  height: 45%;
  margin: 20px 0;
}

.blockFigureLarge {
  margin: 0;
  height: 93%;
}


.blockFigureSmall1 {
  height: 88%;
}


.blockFigureSmall2 {
  margin: 0;
  height: 80%;
}


.blockFigureSmall3,
.blockFigureSmall4 {
  height: 83%;
}

.imgActivity {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.textActivity {
  padding: 1em;
  color: black;
  font-weight: bold;
}



























