*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}


nav ul{
    display: inline-block;
    list-style-type:lower-roman;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: black;
}

   
  nav a:hover {
    color: #0065FC;
  }

  nav a::before {
    content: '';
    display: block;
    height: 3px;
    background-color:#0065FC;
    position: absolute;
    bottom: 60px;
    width: 0%;
    transition: all case-in-out 250ms;
  }

  nav a:hover::before {
    width: 100%;
  }


.container {
    margin: auto;
    padding: 0 25px;
}


.header {
    margin-top: 10px;
}

.row {
   padding-left: 20px;
   font-weight: bold;
}

.topnav {
    overflow: hidden;
    display: flex;
  }
  
  .topnav input[type=text] {
    padding: 10px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
    border: none;
  }

  .topnav .label-container {
    padding: 8px 10px;
    margin-top: 15px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 10px 15px;
    margin-top: 15px;
    margin-right: 16px;
    background: #0065FC;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #DEEBFF;
    color: black;
  }
  
  

  .filter {
    display: flex;
    padding: 30px 0;

  }

  .filter .filterbox {
    display: inline-flexbox;
  }

