
/* GLOBAL PARAMETRES  */


body {
  font-family: 'Raleway', sans-serif;
}

.marginSides{
  margin: 0 50px;
}


a {
  text-decoration: none;
  color: black;
}


li {
  list-style: none;
}


.backgroundGrid {
  background-color: #F2F2F2;
  border-radius: 20px;
}


.backgroundBlank {
  background-color: white;
  border-radius: 20px;
}


#headerMob {
  display: none;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 150px;
  padding-top: 30px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}


.navbar li {
  padding: 50px 10px 0 0;
  border-top: 1px solid white;

}

.navbar li a{
  padding: 10px 20px;
  font-size: 16px;
  color: black;
}

.navbar li a:hover{
  padding-top: 60px;
  color: #0065FC;
  border-top: #0065FC solid 2px;
}


/* Search Section */

.search form {
  margin: 10px;
}

.search p {
  margin: 20px;
}

.searchBox{
  display: flex;
  margin-top: 25px;
  height: 50px;
}
.searchTitle{
  margin-bottom: 5px;
}

#iconSearch{
  background-color: #F2F2F2;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-top-left-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;
}

.searchBox button:hover {
  background-color:#caddf8;
  color: black;
}


form > input{
  height: 50px;
  margin-left: 0;
  border: 0.5px solid #f2f2f2;
  padding-left: 10px;
}


form > input::placeholder{
  font-weight: 800;
  font-size: 14px;
}


.buttonSearch{
  padding: 0 20px;
  font-size: 1rem;
  color: #fff;
  border: 0;
  border-top-right-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
  background-color: #0065FC;
  cursor: pointer;
}


.buttonSearchMob{
  display: none;
}

  
/* FILTERS */
.sectionFiltres {
  display: flex;
  margin-top: 20px;
}


.sectionFiltres div {
  display: flex;
}


.filtres{
  display: flex;
  padding: 0 15px;
  align-items: center;
  height: 40px;
  font-weight: bold;
  border-radius: 25px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 20px 10px;
}


.filtres p {
  padding: 10px;
}

.filtres:hover {
  color: #0065fc;
}


.iconFiltres {
  background-color: #DEEBFF;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 20px;
  color: #0065fc;
  margin-left: -17px;
}


.sectionFiltres h4 {
  line-height: 3;
  font-weight: bold;
  margin-right: 15px;
}


 /* paragraph under filter */
.parag {
  display: flex;
  margin: 10px 30px;
}

.parag label {
  padding: 15px;
  color: #0065FC;
}


/* Accomodations */

.mainPopularAcc {
  display: flex;
  flex-direction: row;
  margin: 0;
}

#accomodations{
  margin-top: 20px;
  width: 70%;
  margin-right: 0px;
}

h2.accomodationTitle { 
  padding: 10px 0 0 4%;
}


.captionOfAcc {
  padding: 20px 0 0 4%;
  font-weight: 400;
}

.mainContentOfAcc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contentAcc {
	margin: 10px 10px;
	width: 28%;
	box-shadow: 5px 5px 5px #d1d1d1;
	display: flex;
	flex-direction: column;
}


.contentAcc:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.frameworkAcc {
  margin: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.contentAcc > figure {
  display: contents;
}

.contentAcc > a {
  padding: 5px;
}

.captionOfAcc ul {
  color: #0065FC;
}

.checked {
  color:#d1d1d1
}

.imageAcc {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.captionOfAcc {
  padding: 5px 15px;
  line-height: 1.5;
  color: black;
}

.captionOfAcc p {
  margin: 0;
  font-size: 15px;
}

.captionOfAcc ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.more {
  margin: 40px;
  font-weight: bold;
  font-size: 15px;
}

.more :hover { 
  text-decoration: underline; 
	text-decoration-color: blue;
}


/* POPULAR */
#popular {
  margin-top: 20px;
  width: 30%;
}

.popularTitle {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 3%;
}

.popularTitle i {
  padding-top: 20px;
  padding-right: 30px;
}

.mainContentPopular {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentPopular {
  margin: 15px;
  display: flex;
  box-shadow: 5px 5px 5px #d1d1d1;
  width: 85%;
  height: 150px;
}

.contentPopular:hover{
  transform: scale(1.05);
  transition: 0.3s;
}


.contentPopular figure {
  margin: 0;
  display: flex;
}


.contentPopular b {
  font-size: 17px;
}


.frameworkPopular {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 5px 10px 5px 5px;
  width: 40%;
  overflow: hidden;
}


.imgPopular {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.captionPopular {
  padding: 10px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 250px;
}

.captionPopular > p {
  font-size: 12px;
}


.captionPopular > ul {
  display: flex;
  padding: 0;
  color: #0065FC;
}


/* ACTIVITES  */

#activites {
  padding-top: 30px;
}

h2 {
  margin: 20px 20px;
  font-size: 23px;
}

.mainContentActivity {
  display: flex;
}

.secondActivityBlock,
.fourthActivityBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.firstActivityBlock,
.thirdActivityBlock {
  height: 500px;
  width: 400px;
}

.secondActivityBlock,
.fourthActivityBlock{
  height: 500px;
  width: 400px;
}

.firstActivityBlock,
.thirdActivityBlock,
.contentSmall1,
.contentSmall2,
.contentSmall3,
.contentSmall4 {
  box-shadow: 0px 0px 20px lightgrey;
  border-radius: 20px;
  overflow: hidden;
}


.firstActivityBlock:hover,
.thirdActivityBlock:hover,
.contentSmall1:hover,
.contentSmall2:hover,
.contentSmall3:hover,
.contentSmall4:hover {
  transform: scale(1.05);
  transition: 0.3s;
}


.firstActivityBlock,
.secondActivityBlock,
.thirdActivityBlock {
  margin-right: 40px;
}

.contentSmall1 {
  height: 60%;
}


.contentSmall2 {
  height: 30%;
}


.contentSmall3,
.contentSmall4 {
  height: 45%;
}

.blockFigureLarge {
  height: 90%;
}


.blockFigureSmall1 {
  height: 80%;
}


.blockFigureSmall2 {
  height: 65%;
}


.blockFigureSmall3,
.blockFigureSmall4 {
  height: 70%;
}

.imgActivity {
  width: 100%;
  height: 95%;
  object-fit: cover;
}


.textActivity  {
  padding-left: 20px;
  color: black;
  font-weight: bold;
}


/* FOOTER */
footer {
  display: flex;
  background-color: #F2F2F2;
  margin-top: 50px;
  padding: 20px;
}

.about, .ourAcc {
  flex-grow: 1;
}

.assistance {
  flex-grow: 2;
}

footer h3 {
padding-left: 40px;
}


footer li {
  list-style: none;
}


footer > div > ul {
  line-height: 2;
}

/* --------------- TABLET VERSION RESPONSIVE --------------*/


@media only screen and (min-width: 768px) and (max-width: 992px) {
 
  body{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }


  #headerMob{
      display: none;
  }

  #header {
    width: 100%;
  }

  .navbar nav li {
    margin-right: 0;
  }

  .navbar li a{
    padding: 0 20px;
    font-size: 25px;
  }


  #logo {
      width: 150px;
  }
 
  .mainContentOfAcc p,
  .mainContentPopular > p{
      font-size: 15px;
  }


  
  .filtres{
    padding: 0 15px;
    margin: 15px 10px;
    height: 30px;
  }

 .filtres p{
     padding: 3px;
     font-size: 15px;
 }
 
 .sectionFiltres h4{
     line-height: 1;
     margin-left: 15px;
 }

 .iconFiltres{
     width: 30px;
     height: 30px;
 }
 

 .parag {
  margin: 10px 40px;
 }

 .parag p {
  font-size: 20px;
 }

 .mainPopularAcc{
  display: flex;
  flex-direction: column;

 }

#accomodations,
#popular{
  width: 96%;
}

.mainContentPopular{
  display:flex;
  flex-direction: row;
  margin-left: 10px;
  margin-bottom: 50px;
  width: 97%;
  height: 100%;
}


.popularTitle {
  padding: 10px 20px 0 10px;
}

.contentPopular{
  margin: 10px 5px;
}


.contentPopular figure > p {
  padding-bottom: 5px;
}


.frameworkPopular{
  margin: 5px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}


.captionPopular{
  width: 100%;
  display: block;
}

.imgPopular {
  width: 60px;
  height: 130px;
  margin: 5px 0px;
  border-radius: 20px;
}

#activites {
  padding-top: 30px;
}

h2 {
  margin: 20px 20px;
  font-size: 23px;
}

.mainContentActivity {
  display: flex;
  width: 110%;
}

.secondActivityBlock,
.fourthActivityBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.firstActivityBlock,
.thirdActivityBlock {
  height: 450px;
  width: 700px;
}

.secondActivityBlock,
.fourthActivityBlock{
  height: 450px;
  width: 500px;
}

.firstActivityBlock,
.thirdActivityBlock,
.contentSmall1,
.contentSmall2,
.contentSmall3,
.contentSmall4 {
  box-shadow: 0px 0px 20px lightgrey;
  border-radius: 20px;
  overflow: hidden;
}


.firstActivityBlock:hover,
.thirdActivityBlock:hover,
.contentSmall1:hover,
.contentSmall2:hover,
.contentSmall3:hover,
.contentSmall4:hover {
  transform: scale(1.05);
  transition: 0.3s;
}


.firstActivityBlock,
.secondActivityBlock,
.thirdActivityBlock {
  margin-right: 30px;
}

.contentSmall1 {
  height: 60%;
}


.contentSmall2 {
  height: 30%;
}


.contentSmall3,
.contentSmall4 {
  height: 45%;
}

.blockFigureLarge {
  height: 85%;
}


.blockFigureSmall1 {
  height: 80%;
}


.blockFigureSmall2 {
  height: 65%;
}


.blockFigureSmall3,
.blockFigureSmall4 {
  height: 70%;
}

.imgActivity {
  width: 100%;
  height: 95%;
  object-fit: cover;
}


.textActivity  {
  padding-left: 10px;
  padding-top: 0px;
  color: black;
  font-weight: bold;
}


footer {
    padding: 30px;
    text-align: left;
    width: 100%;

}
footer li{
    font-size: 13px;
}

.about,
.ourAcc{
    margin-right: 50px;
}    


}  


/* ------ MOBILE VERSION RESPONSIVE --------*/

@media only screen and (max-width: 767px) {


body {
  font-family: 'Raleway', sans-serif;
  align-items: center;
  width: 650px;
}

#header {
  display: none;
}

#headerMob {
  display: contents;
}

.headerMobile {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

#logoMob {
  width: 170px;
  padding-top: 10px;
  margin: 0 250px;
}

.headerMobile a {
  color: #0065FC;
}

.navMobile{
  font-size: 30px;
  margin: 30px 0px;
}

.navMobile > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
  padding: 10px;
}

.navMobile > ul > li {
  flex-grow: 1;
  padding-bottom: 10px;
  border-bottom: 3px solid #f2f2f2;

}

.navMobile > ul > li:hover {
  border-bottom: #0065FC solid 2px;
}

.navMobile > ul > li a:hover {
  color: #0065FC;
}

/* SEARCH */
.searchTitle{
  font-size: 30px;
  margin-left: 30px;
}

.search p {
  font-size: 25px;
}
.buttonSearch{
  display: none;
}

form > input {
  width: 300px;
}

.buttonSearchMob{
  display: block;
  padding: 0 20px;
  font-size: 20px;
  color: #fff;
  border: 0;
  border-radius: 15px;
  background-color: #0065FC;
  cursor: pointer;
  margin-left: -10px;
}


.sectionFiltres {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.sectionFiltres,
.parag {
    margin: 10px;
}

.sectionFiltres h4 {
    line-height: 1;
    margin: 20px 30px;
    font-size: 25px;
}

.sectionFiltres > div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.sectionFiltres p {
  font-size: 23px;
}


.filtres {
    padding: 0 5px 0 15px;
    width: fit-content;
    margin: 5px 30px 5px 0px;
  
}

.parag {
  margin-left: 20px;
  font-size: 25px;
}

.parag p {
  padding-top: 1em;
}

.parag label {
  padding-top: 55px;
}


.mainPopularAcc{
  display: flex;
  flex-direction: column;
}

#accomodations,
#popular {
  width: 100%;
}


#accomodations {
  margin: 5px;
  order: 2;
  background-color: white;
}

.frameworkAcc {
  height: 150px;
}

.frameworkAcc .imageAcc {
  height: 100%;
}

.contentAcc {
  width: 500px;
  box-shadow: 0 5px 5px #d1d1d1;
}


h2.accomodationTitle {
  padding: 0;
  text-align: center;
  font-size: 30px;
}


#popular {
  padding-bottom: 20px;
  margin-top: 0;
  margin-left: 0;
}

.backgroundGrid {
 margin: 20px;
 border-radius: 0%;
}

.popularTitle i {
  padding: 20px 50px;
}

.contentPopular {
  height: 200px;
  width: 500px;
}


#activites > h2 {
  font-size: 25px;
  margin: 30px 0;
  padding: 0 1.5em;
}


#activites {
  padding-top: 0;
}

.blockFigureSmall1, .blockFigureSmall2, .blockFigureSmall3, .blockFigureSmall4 {
  height: 190px;

}

.blockFigureLarge {
  height: 200px;
}

.firstActivityBlock, .thirdActivityBlock {
  width: 320px;
  height: 200px;
}

.mainContentActivity{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.firstActivityBlock, .secondActivityBlock, .thirdActivityBlock {
  margin: 10px 0;
  height: 250px;
  width: 500px;
}

.secondActivityBlock, .fourthActivityBlock {
  height: 550px;
  width: 500px;
}

.firstActivityBlock, .thirdActivityBlock, .contentSmall1, .contentSmall2, .contentSmall3, .contentSmall4 {
  margin-bottom: 25px;
}

.contentSmall2 {
  height: 300px;
}


footer {
  display: block;
  margin-top: 25px;
  width: 600px;
  height: 420px;
}
.about,
.ourAcc{
  margin-right: 0;
  padding: 30px 0px;
}
.about h3,
.ourAcc h3,
.assistance h3{
  margin-bottom: 0;
}

p.parag{
  margin: 10px 0 0 0.8em;
}

footer h3,
footer > div > ul{
  padding-left: 20px;
  margin: 0 20px;
}

}




